<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalcMakhmud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>708AB25C1C125AE600B238E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708AB2701C125AE700B238E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708AB27B1C125AE700B238E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
